@use './partials/variables' as *;

$fa-font-path: "../webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import '~bootstrap/scss/bootstrap';

footer{
    background-image: url('../img/footer-bg.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}
li{
    list-style: none;
}
img{
    position: absolute;
    top: -25%;
    right: -15%;
    width: 100%;
}

.boack {
    background-color: black;
}

.my-bg {
    background-color: rgb(18, 146, 231);
}

img {
    width: 50px;
    height: 65px;
}

nav {
    position: relative;
    z-index: 1000;
}

.sezione-top {
    height: 40vh;
    background-image: url('../img/jumbotron.jpg');
    background-size: 100%;
}

h3{
    position: absolute;
    bottom: -10%;
    left: 22%;
    z-index: 5000;
}

body{
    overflow-x: hidden;
}